/*======= index-1.html =======*/
#page2 .col-1{width:560px; margin-right:40px}
#page2 .col-2{width:320px}
#page2 .line_ver{background-position:569px top}

/*======= index-2.html =======*/
#page3 .col-1{width:250px; margin-right:83px}
#page3 .col-2{width:550px}
#page3 .line_ver{background-position:283px top}

/*======= index-3.html =======*/
#page4 .col-1{width:550px; margin-right:73px}
#page4 .col-2{width:250px}
#page4 .line_ver{background-position:569px top}

/*======= index-4.html =======*/
#page5 .col-1{width:250px; margin-right:83px}
#page5 .col-2{width:550px}
#page5 .line_ver{background-position:283px top}

/*======= index-5.html =======*/
#page6 .col-1{width:550px; margin-right:73px}
#page6 .col-2{width:240px}
#page6 .line_ver{background-position:569px top}
